<!doctype html>
<html ng-app="app">

<head>
  <meta charset="utf-8">

  <link href="/static/assets/css/global.css" rel="stylesheet">
</head>

<body>

  <div ui-view></div>

  <!-- SCRIPTS -->
  <script src="/static/assets/libs/angular/angular.js"></script>
  <script src="/static/assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- ANGULAR -->
  <script src="/static/app/app.modules.js"></script>
  <script src="/static/app/app.routes.js"></script>

  <!-- CONTROLLERS -->
  <script src="/static/app/controllers/home.controller.js"></script>

  <!-- SERVICES -->
  <script src="/static/app/services/home.services.js"></script>

</body>

</html>
